body, html {
    height: 100vh;
    margin: 0;
  }

h1, h2, h3, h4, h5 {
font-family: 'Turret Road', cursive;

font-family: 'Press Start 2P', cursive;
}
p {
  font-family: 'Cute Font', cursive;
  font-size: 2em;
}
  .bg {
    background-image: url("../images/backg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }

  header {
     text-align: center;
     background-color: black;
     color: white;
     height: 10vh;
     width: 100%;
     /* margin-top: -10vh; */
     
  }
  .startScreen {
    background-image: url("../images/startScreen.jpg");
    height: 100vh; 
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

  }

  .startButt {
      border-style: solid;
      border-color: red;
      border-width: 10px;
      height: 80vh;

  }
  .maintain {
      /* margin-top: 10vh; */
      background-color: blue;
      color: white;
      border-color:white;
      border-style: outset;
      border-width: 10px;
      text-align: center;
      height: 90vh;
      display: none;
      padding: 15px 20px 15px 20px;
 
  }
  .maintainRow
  {
    padding: 5px 0 5px 0;
    height: 40%;
  }
  .maintainQRow {
    height: 20%;
  }
  .question {
    color: red;
    padding-top: 20px;
    border-color:white;
    border-style: inset;
    border-width: 10px;
    background-color: black;
  }

  .updateDisp {
      display: block;
      background-color: black;
      color: red;
      border-color: white;
      border-style: inset;
      border-width: 10px;
      height: 100%;
      width: 100%;
      padding-top: 10px;
  }
#corr-incorr {
  display: block;
  background-color: black;
      color: red;
      border-color: white;
      border-style: inset;
      border-width: 10px;
      height: 100%;
      width: 100%;
      padding-top: 10px;
}

.timed {
  background-color: black;
      color: white;
      border-color: white;
      border-style: inset;
      border-width: 10px;
      height: 100%;
      width: 100%;
      padding-top: 20px;

}
  .ansList {
    list-style-type: none;
    
  }
  .ansBullet {
    list-style-type: none;
      color: white;
      font-family: 'Cute Font', cursive;
      font-size: 2em;
      padding-right: 1em;
  }
  li.ansBullet:hover {
    background-color: red;
  }

  .gameButt {
    background: grey;
    border-style: outset;
    border-color: grey;
    border-width: 10px;
    width: 10em;
    height: 5em;
    padding-top: 10px;
    text-align: center;
  }
  .blankButt {
    background: rgba(128, 128, 128, 0);
    border-style: outset;
    border-color: rgba(128, 128, 128, 0);
    border-width: 10px;
    width: 10em;
    height: 5em;
    padding-top: 10px;
    text-align: center;

  }

  #pEndGame {
    display: none;
    background-color: blue;
      color: white;
      border-color:white;
      border-style: outset;
      border-width: 10px;
      text-align: center;
      height: 80vh;
      display: none;
      
      padding: 15px 20px 15px 20px;
  }
